// Angular Material custom theme
// The mixins below must be included once so we separated them from the variables
@import "~@angular/material/theming";

/*
 * Orange palette
 */
 $mat-orange: (
  50 : #fff3e0,
  100 : #ffe0b3,
  200 : #ffcc80,
  300 : #ffb74d,
  400 : #ffa726,
  500 : #ff9800,
  600 : #ff9000,
  700 : #ff8500,
  800 : #ff7b00,
  900 : #ff6a00,
  A100 : #ffffff,
  A200 : #fff7f2,
  A400 : #ffd6bf,
  A700 : #ffc5a6,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $dark-primary-text,
    700: $dark-primary-text,
    800: $dark-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text
  )
);
