// Angular Material custom theme
// The mixins below must be included once so we separated them from the variables
@import "~@angular/material/theming";

/*
 * Green palette
 */
 $mat-green: (
  50 : #f1f8e9,
  100 : #dcedc9,
  200 : #c5e1a5,
  300 : #aed580,
  400 : #9ccc65,
  500 : #8bc34a,
  600 : #83bd43,
  700 : #78b53a,
  800 : #6eae32,
  900 : #5ba122,
  A100 : #ebffdd,
  A200 : #ceffaa,
  A400 : #b0ff77,
  A700 : #a2ff5d,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $dark-primary-text,
    700: $dark-primary-text,
    800: $dark-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text
  )
);
