<div class="user-form-wrapper" fxLayout="column" fxLayoutAlign="center center">
    <div class="multiCMO" *ngIf="autoFillMultiCMO">
        <button mat-button type="button" (click)="autoMultiCMO('Alex')" color="primary">{{'Alex'}}</button>
        <button mat-button type="button" (click)="autoMultiCMO('Evolution')" color="primary">{{'Evolution'}}</button>
        <button mat-button type="button" (click)="autoMultiCMO('Audio')" color="primary">{{'Audio'}}</button>
        <button mat-button type="button" (click)="autoMultiCMO('AFI')" color="primary">{{'AFI'}}</button>
        <button mat-button type="button" (click)="autoMultiCMO('GetSound')" color="primary">{{'GetSound'}}</button>
        <button mat-button type="button" (click)="autoMultiCMO('ITSRIGHT')" color="primary">{{'ITSRIGHT'}}</button>
        <button mat-button type="button" (click)="autoMultiCMO('SCF')" color="primary">{{'SCF'}}</button>
        <button mat-button type="button" (click)="autoMultiCMO('Turo')" color="primary">{{'Turo'}}</button>
        <button mat-button type="button" (click)="autoMultiCMO('Test')" color="primary">{{'Test'}}</button>
    </div>
    <div class="user-form-box" fxLayout="column" fxLayoutAlign="start center">
        <div class="brand"></div>
        <form [formGroup]="userForm" fxLayout="row wrap" fxLayoutAlign="space-between" (ngSubmit)="onSubmit()">
            <mat-form-field fxFlex="45">
                <mat-label>{{ 'user_form.label.CMO' | translate }}</mat-label>
                <mat-select formControlName="cmo" (selectionChange)="onChange()">
                    <mat-option *ngFor="let cmo of cmos" [value]="cmo">
                        {{ cmo }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="45">
                <mat-label>{{ 'user_form.label.member' | translate }}</mat-label>
                <mat-select formControlName="member">
                    <mat-option *ngFor="let member of membersFiltered" [value]="member.memberId">
                        {{ member.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="45">
                <input matInput placeholder="{{ 'user_form.placeholder.firstName' | translate }}" formControlName="firstName">
            </mat-form-field>
            <mat-form-field fxFlex="45">
                <input matInput placeholder="{{ 'user_form.placeholder.LastName' | translate }}" formControlName="lastName">
            </mat-form-field>
            <mat-form-field fxFlex="45">
                <mat-label>{{ 'user_form.label.role' | translate }}</mat-label>
                <mat-select formControlName="role">
                    <mat-option *ngFor="let role of roles" [value]="role">
                        {{ role }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <div class="actions-wrapper" fxFlex fxLayout="row" fxLayoutAlign="end">
                <button mat-button type="button" (click)="onCancel()"
                    color="primary">{{ 'common.cancel' | translate | uppercase }}</button>
                <button mat-button [disabled]="!userForm.valid"
                    color="accent">REGISTER</button>
            </div>
        </form>
    </div>
</div>
