@import "~scss/variables.scss";

.icon-container {
  margin-bottom: 20px;
  .icon-square {
    display: flex;
    border-radius: 50%;
    background-color: $blue;
    height: 80px;
    width: 80px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    .icon-text {
      color: $white;
      font-size: $font-size-xxxxl;
      font-weight: $font-light;
    }
  }
}

.items-container {
  margin: 0 -8px;
  .field-item {
    margin: 0 8px;
  }
}

::ng-deep .mat-form-field-label {
  color: #3176B9 !important;
}

::ng-deep .mat-dialog-content {
  overflow: initial !important;
}
