@import "~scss/variables.scss";

.title-themes {
  font-size: 20px;
  margin: 20px 0;
}

.radio-button {
  margin: 5px;
}

.empty-image {
  height: 200px;
  width: 200px;
  border: black 1px dashed;
}

.actions-wrapper {
  margin-top: 64px;
  width: 100%;
}

