<div class="rejected-user-wrapper" fxLayout="column" fxLayoutAlign="center center">
    <div class="rejected-user-box" fxLayout="column" fxLayoutAlign="start center">
        <div class="brand"></div>
        <div class="request-text">
            {{ 'rejected_user.request_rejected' | translate | uppercase}}
        </div>
        <div class="request-text">
            {{ 'rejected_user.contact-member' | translate }}
        </div>
        <div class="button" fxLayout="column" fxLayoutAlign="center center" (click)="goLogin()">
            <div>{{ 'rejected_user.back_login' | translate | uppercase }}</div>
        </div>
    </div>
</div>
