@import "~scss/variables.scss";

.restore-account-wrapper {
  height: 100%;
  width: 100%;
  background-image: url("assets/img_bg_login.png");
  background-size: cover;
  background-repeat: no-repeat;

  .restore-account-box {
    height: 440px;
    width: 395px;
    background-color: white;
    box-shadow: 0px 0px 29px -1px rgba(0, 0, 0, 0.75);
    padding: 32px 16px 0 16px;

    .brand {
      background-image: url("assets/logo_bloomen.png");
      background-size: contain;
      background-repeat: no-repeat;
      height: 100px;
      width: 300px;
      margin-bottom: 60px;
    }
    .form-wrapper {
      width: 100%;
      .mnemonic-textarea {
        width: 100%;
      }
      .action-wrapper {
        margin-top: 32px;
      }
    }
  }
}
