@import "~scss/variables.scss";

:host {
  height: 100%;
}

::ng-deep .mat-sidenav {
  min-width: 255px !important;
  max-width: 255px !important;
}

.banner {
  position: relative;
  height: 200px;
  max-width: 255px;
  min-width: 28%;
  position: relative;

  .icon-img {
    width: 100%;
    height: 90%;
    object-fit: contain;
    padding: 16px;
  }

  .icon-powered {
    object-fit: none;
    height: 10%;
  }
}

::ng-deep .banner-content {
  height: 113px;
  z-index: 1;

  .mat-toolbar {
    max-height: 56px !important;
    box-shadow: inset 0px 26px 13px -26px rgba(0, 0, 0, 0.75);

    .user-profile {
      width: auto;
      height: auto;
      margin-right: 15px;

      .user-pic {
        margin-right: 10px;
        pointer-events: none;
        box-shadow: none;
      }

      .user-text {
        margin-top: 3px;

        .user-name {
          font-size: $font-size-xl;
          font-weight: $font_medium;
          letter-spacing: 0.23px;
          line-height: 21px;
        }

        .user-rol {
          font-size: $font-size-s;
          letter-spacing: 0.25px;
          line-height: 20px;
        }
      }
    }
  }
}

.content {
  height: calc(100vh - 113px);
  overflow: auto;
}

.notification-chip {
  margin-left: 20px;
}

.mat-icon {
  margin-right: 20px;
}

.mat-sidenav {
  min-width: 270px;
  max-width: 28%;
}

.icon-bar {
  height: 20px;
  width: 20px;
  margin: 0px 33px 0px 9px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.ic-inbox {
  background-image: url("../assets/icons/ic_inbox.svg");
  //background-image: url("../assets/icons/inbox.svg");
}

.ic-inbox-new-message {
  background-image: url("../assets/icons/inbox_new_message.svg");
}

.ic-dashboard {
  background-image: url("../assets/icons/ic_dashboard.svg");
}

.ic-claim {
  background-image: url("../assets/icons/ic_claim.svg");
}

.ic-userm {
  background-image: url("../assets/icons/ic_user_management.svg");
}

.ic-member_management {
  background-image: url("../assets/icons/ic_member_management.svg");
}

.text-bar {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.sup {
  font-size: $font-size-m;
  font-weight: bold;
  color: #fa3e3e;
  //font-style: italic;
}

.upload-claims {
  color: black;
  font-size: $font-size-xl;
  font-weight: $font_medium;
}