<div  mat-dialog-title class="dialog-title" fxLayoutAlign="left"><b>{{'Select type of a new claim:' | uppercase }}</b></div>
<div mat-dialog-content>
    <form [formGroup]="typeForm" (ngSubmit)="claim()" class="form-wrapper">
        <div fxLayout="row" fxLayoutAlign="center center" >
            <mat-radio-group formControlName="typeToClaim">
                <mat-radio-button class="radio-button" value="ISRC">
                    <b>Sound Recording</b>
                </mat-radio-button>
                <mat-radio-button class="radio-button" value="ISWC">
                    <b>Musical Work</b>
                </mat-radio-button>
            </mat-radio-group>
        </div>
        <div class="actions-wrapper" fxLayout="row" fxLayoutAlign="end">
            <button mat-button type="button" (click)="dialogRef.close()" color="primary">
                {{ 'common.cancel' | translate | uppercase }}
            </button>
            <button mat-button [disabled]="!typeForm.valid" color="primary">
                {{ 'common.add' | translate | uppercase }}
            </button>
        </div>
    </form>
</div>
