<div class="repertoire-wrapper">
<!--	<input id="file-field" name="file-field" (change)="uploadFile($event)" type="file" accept=".csv">-->
    <blo-repertoire-search (filter)="applyFilter($event)"></blo-repertoire-search>
    <form [formGroup]="bulletForm">
        <div fxLayoutAlign="space-around center">
            <div>
            <input id="all" type="radio" value="all" name="type" formControlName="type" (ngModelChange)="checkSource()">
            <label class="custom-control-label" for="all">
                <mat-icon>queue_music</mat-icon>
                <mat-icon>speaker</mat-icon>
            </label>
            </div>
            <div>
            <input id="iswc" type="radio" value="iswc" name="type" formControlName="type" (ngModelChange)="checkSource()">
            <label class="custom-control-label" for="iswc">
                <mat-icon>queue_music</mat-icon>
            </label>
            </div>
            <div><input id="isrc" type="radio" value="isrc" name="type" formControlName="type" (ngModelChange)="checkSource()">
            <label class="custom-control-label" for="isrc">
                <mat-icon>speaker</mat-icon>
            </label>
            </div>
        </div>
    </form>
    <div fxLayout="column" *ngIf="assetsApiService.type === 'all' && assetsApiService.productionMode">
        <blo-asset-card *ngFor="let asset of pageAssets" [asset]="asset" [members]="members" [currentMember]="inboxComponent.member"></blo-asset-card>
    </div>
    <div fxLayout="column" *ngIf="assetsApiService.type === 'iswc' && assetsApiService.productionMode">
        <blo-asset-card *ngFor="let asset of pageAssets" [asset]="asset" [members]="members" [currentMember]="inboxComponent.member"></blo-asset-card>
    </div>
    <div fxLayout="column" *ngIf="assetsApiService.type === 'isrc' && assetsApiService.productionMode">
        <blo-asset-card *ngFor="let asset of pageAssets" [asset]="asset" [members]="members" [currentMember]="inboxComponent.member"></blo-asset-card>
    </div>
    <div fxLayout="column" *ngIf="!assetsApiService.productionMode">
        <blo-asset-card *ngFor="let asset of repertoire$ | async" [asset]="asset" [members]="members" [currentMember]="inboxComponent.member"></blo-asset-card>
    </div>
    <mat-paginator [length]="allAssets.length < paginator.pageSize ||
                            (once && prevFilter === filter)
                            ? queriedCount : assetsApiService.total_count" [pageSize]="paginator.pageSize">
    </mat-paginator>
    <!--    [length]="repertoireCount$ | async"-->
    <!--    [ngClass]="{ 'hide': !(repertoireCount$ | async) }"-->
    <!-- [pageSizeOptions]="[3,6,9]" -->
</div>
