<div class="repertoire-wrapper">
	<input id="file-field" name="file-field" (change)="uploadFile($event)" type="file" accept=".csv">
    <blo-repertoire-search (filter)="applyFilter($event)"></blo-repertoire-search>
    <form [formGroup]="registrationForm">
        <div>
            <input id="all" type="radio" value="all" name="type" formControlName="type" (ngModelChange)="checkSource()">
            <label class="custom-control-label" for="all"><b>All Asset Types</b></label>
            <input id="iswc" type="radio" value="iswc" name="type" formControlName="type" (ngModelChange)="checkSource()">
            <label class="custom-control-label" for="iswc"><b>Musical Works</b></label>
            <input id="isrc" type="radio" value="isrc" name="type" formControlName="type" (ngModelChange)="checkSource()">
            <label class="custom-control-label" for="isrc"><b>Sound Recordings</b></label>
        </div>
    </form>
    <div fxLayout="column" *ngIf="assetsApiService.type === 'all' && assetsApiService.productionMode">
        <blo-asset-card *ngFor="let asset of repertoire$ | async" [asset]="asset" [members]="members"></blo-asset-card>
    </div>
    <div fxLayout="column" *ngIf="assetsApiService.type === 'iswc' && assetsApiService.productionMode">
        <blo-asset-card *ngFor="let asset of repertoire$ | async" [asset]="asset" [members]="members"></blo-asset-card>
    </div>
    <div fxLayout="column" *ngIf="assetsApiService.type === 'isrc' && assetsApiService.productionMode">
        <blo-asset-card *ngFor="let asset of repertoire$ | async" [asset]="asset" [members]="members"></blo-asset-card>
    </div>
    <div fxLayout="column" *ngIf="(assetsApiService.type === 'all' || assetsApiService.type === 'iswc' || assetsApiService.type === 'isrc')
    && !assetsApiService.productionMode">
        <blo-asset-card *ngFor="let asset of repertoire$ | async" [asset]="asset" [members]="members"></blo-asset-card>
    </div>
    <mat-paginator [length]="repertoireCount$ | async" [pageSize]="300" [pageSizeOptions]="[300,600,900]"
        [ngClass]="{ 'hide': !(repertoireCount$ | async) }">
    </mat-paginator>
</div>