<div mat-dialog-title class="dialog-title">{{ 'user_dialog.title' | translate }}</div>
<div *ngIf="data" fxLayout="row" fxLayoutAlign="center center" class="icon-container">
  <div class="icon-square">
    <div class="icon-text">
      {{ nameIcon }}
    </div>
  </div>
</div>
<div mat-dialog-content>
  <form [formGroup]="editUserForm" (ngSubmit)="onSubmit()">
    <div fxLayout="row" fxLayoutAlign="start center" class="items-container">
      <mat-form-field fxFlex="50" class="field-item">
        <input matInput placeholder="{{'user_dialog.id' | translate }}" formControlName="id" />
      </mat-form-field>
      <mat-form-field fxFlex="50" class="field-item">
        <input matInput placeholder="Balance" formControlName="tokens" type="number" max="{{data.member.totalTokens}}" min="0"/>
<!--               oninput="if (value > max || value.length > max.length) value = value.slice(0, maxLength);" />-->
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" class="items-container">
      <mat-form-field fxFlex="50" class="field-item">
        <input matInput placeholder="{{'user_dialog.name' | translate}}" formControlName="firstName" />
      </mat-form-field>
      <mat-form-field fxFlex="50" class="field-item">
        <input matInput placeholder="{{'user_dialog.last_name' | translate}}" formControlName="lastName" />
      </mat-form-field>

    </div>
    <div fxLayout="row" fxLayoutAlign="start center" class="items-container">
      <mat-form-field fxFlex="50" class="field-item">
        <input matInput placeholder="{{'user_dialog.member' | translate}}" formControlName="memberId" />
      </mat-form-field>
      <mat-form-field fxFlex="45">
        <mat-label>{{ 'user_dialog.role' | translate }}</mat-label>
        <mat-select formControlName="role">
          <mat-option *ngFor="let role of roles" [value]="role">
            {{ role }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" class="items-container">
      <mat-form-field fxFlex="45" appearance="outline">
        <ngx-mat-file-input #removableInput formControlName="kycData" [multiple]="false" [accept]="'.txt'"
                            [color]="null" placeholder="Select another .txt">
          <mat-icon ngxMatFileInputIcon>attach_file</mat-icon>
        </ngx-mat-file-input>
        <button *ngIf="removableInput.empty" mat-button (click)="openLink()">> Current KYC data.</button>
        <button *ngIf="!removableInput.empty" mat-icon-button matSuffix (click)="clear()">
          <mat-icon>clear</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div mat-dialog-actions fxLayoutAlign="end center">
      <button mat-button type="button" (click)="dialogRef.close()"> {{ 'common.cancel' | translate | uppercase }} </button>
      <button color="primary" [disabled]="!editUserForm.valid" mat-button> {{ 'common.accept' | translate | uppercase }} </button>
    </div>
  </form>
</div>
