@import "~scss/variables.scss";

.claims-wrapper {
  width: 100%;
  padding: 16px;

  table {
    width: 100%;

    td {
      text-align: center;
      .disabled {
        color: rgb(177, 174, 174);
      }
    }
    th {
      text-align: center;
    }
  }

  /* Structure */
  .container {
    position: relative;
    min-height: 200px;
  }

  .table-container {
    position: relative;
    max-height: 400px;
    overflow: auto;
  }

  .loading {
    min-height: 280px;
  }

  /* Column Widths */
  .mat-column-number,
  .mat-column-state {
    max-width: 64px;
  }

  .mat-column-created {
    max-width: 124px;
  }

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  } 

  .loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
