<div class="claims-wrapper">
    <div class="container mat-elevation-z8">
        <div class="loading-shade" *ngIf="dataSource.loading$ | async">
            <mat-spinner></mat-spinner>
        </div>
        <mat-form-field>
            <input matInput autocomplete="off" class="input-placeholder" (keyup)="applyAnythingFilter($event.target.value)"
                   style="font-size: 20px" placeholder="Search ISCs, titles, territories, use & right types.
E.g.: Enter 'ISWC Greece from 1/1/2016 to 2/2/2020' to get all Musical Works related to Greece
that have right dates between 1/1/2016 and 2/2/2020. For an asset relating to a specific year use: 'year 2020'.
Tip: I am NOT case sensitive.">
        </mat-form-field>
        <div class="table-container" [ngClass]="{ 'loading': (dataSource.loading$ | async) }">
            <table mat-table [dataSource]="dataSource.claims" class="table" matSort matSortDirection="asc" matSortDisableClear>

                <!-- Type Column -->
                <ng-container matColumnDef="type">
                    <th mat-header-cell *matHeaderCellDef>
                        {{ 'claims.table.type' | translate }}
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <mat-icon *ngIf="element.claimType === false && element.status === undefined">queue_music</mat-icon>
                        <mat-icon *ngIf="element.claimType === true && element.status === undefined">speaker</mat-icon>
<!--                        <mat-icon *ngIf="element.claimType === false">queue_music</mat-icon>-->
<!--                        <mat-icon *ngIf="element.claimType === true">speaker</mat-icon>-->
                    </td>
                </ng-container>

                <!-- Code Column -->
                <ng-container matColumnDef="code">
                    <th mat-header-cell *matHeaderCellDef>
                        International Standard Code
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <div class="all-copy" *ngIf="element.claimData.ISC">{{ element.claimData.ISC }}</div>
<!--                        <div *ngIf="element.claimData.ISWC">{{ element.claimData.ISWC }}</div>-->
<!--                        <div *ngIf="element.claimData.ISRC">{{ element.claimData.ISRC }}</div>-->
                    </td>
                </ng-container>

                <!-- Title Column -->
                <ng-container matColumnDef="title">
                    <th mat-header-cell *matHeaderCellDef>
                        Title
                    </th>
                    <td class="all-copy" mat-cell *matCellDef="let element">{{ element.status === undefined ? element.claimData.title : nothing }}</td>
<!--                    <td mat-cell *matCellDef="let element">{{ element.claimData.title }}</td>-->
                </ng-container>

                <!-- Status Column -->
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef>
                        <mat-form-field>
                            <mat-label>Status</mat-label>
                            <mat-select [formControl]="sF" multiple (selectionChange)="applyStatusFilter($event)">
<!--                                <input matInput autocomplete="off" (keyup)="searchStatusFilter($event.target.value)"-->
<!--                                       style="font-size: 20px" placeholder="Search status...">-->
                                <mat-option *ngFor="let status of statusList" [value]="status.value">{{ status.label }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </th>
                    <td mat-cell *matCellDef="let element" style="width: 50px">
                        <mat-chip-list fxLayoutAlign="center">
                            <mat-chip *ngIf="element.status === true || element.status === false">
                                {{ 'claimStatus.' + element.status | translate | uppercase }}</mat-chip>
<!--                            <mat-chip>{{ 'claimStatus.' + element.status | translate | uppercase }}</mat-chip>-->
                        </mat-chip-list>
                    </td>
                </ng-container>

                <!-- Creation date Column -->
                <ng-container matColumnDef="creationDate">
                    <th mat-header-cell *matHeaderCellDef>
                        {{ 'user_management.table.creationDate' | translate }}
                    </th>
                    <td class="all-copy" mat-cell *matCellDef="let element">
                        {{ element.creationDate | date: 'dd/MM/yyyy' }}
                    </td>
                </ng-container>

                <!-- Edit Column -->
                <ng-container matColumnDef="edit">
                    <th mat-header-cell *matHeaderCellDef>
                        Edit
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <mat-icon [class.disabled]="element.status === '2' || !shellComponent.allowTransactionSubmissions"
                                  *ngIf="element.status !== undefined"
                                (click)="shellComponent.allowTransactionSubmissions ? clickEdit(element, true) : shellComponent.alertUser()">
                            edit
                        </mat-icon>
                    </td>
                </ng-container>

                <!-- View Column -->
                <ng-container matColumnDef="view">
                    <th mat-header-cell *matHeaderCellDef>
                        View
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <mat-icon *ngIf="element.status !== undefined" (click)="clickEdit(element, false)">visibility</mat-icon>
<!--                        <mat-icon (click)="clickEdit(element, false)">visibility</mat-icon>-->
                        <mat-icon *ngIf="element.status === undefined" (click)="showAsset(element)">pageview</mat-icon>
                    </td>
                </ng-container>

                <!-- Delete Column -->
                <ng-container matColumnDef="delete">
                    <th mat-header-cell *matHeaderCellDef>
                        Delete
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <mat-icon [class.disabled]="!shellComponent.allowTransactionSubmissions" *ngIf="element.status !== undefined"
                                  (click)="shellComponent.allowTransactionSubmissions ? delClaim(element) : shellComponent.alertUser()">delete</mat-icon>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
        <mat-paginator [length]="usersPageNumber" [pageSize]="50"></mat-paginator>
                      <!-- pageSize is the same as PAGE_SIZE in the corresponding *.sol file -->
    </div>
</div>
